###> symfony/framework-bundle ###
APP_ENV=dev
APP_SECRET=be25aaf5ce2d4ce85258f1edf390bc55
###< symfony/framework-bundle ###

###> XDEBUG 3 ###
# Use your client IP here
# Linux: run "ip a | grep docker0"
# Windows (with WSL2): Run "grep nameserver /etc/resolv.conf  | cut -d ' ' -f2"
# MacOS: host.docker.internal
XDEBUG_CLIENT_HOST=host.docker.internal
XDEBUG_CLIENT_PORT=9003
PHP_IDE_CONFIG=serverName=register_service
###< XDEBUG 3 ###

###> symfony/messenger ###
# Choose one of the transports below
MESSENGER_TRANSPORT_DSN=amqp://root:secret@rabbitmq-service:5672/%2f
###< symfony/messenger ###
