
###> symfony/framework-bundle ###
/.env.local
/.env.local.php
.env.dev
.env
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###

# Other files and folders
docker-compose.yml